.input{
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    border: 1px solid #DBDBDB;
    outline: none;
}

.input:focus {
    border: 1px solid grey;   
}

.autocomplite {
    position: relative;
    /* display: flex;
    flex-direction: column; */
}

.tag {
    padding: 5px;
    border-radius: 4px;
    background-color: #eceff0;
    display: inline-block;
    /* margin-left: auto; */
    margin-left: 150px;
}

.textarea{
    height: 200px;
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
    padding-top: 10px;
}